@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;700&display=swap');

* {
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

body {
    height: 100vh;
}

@media (max-width: 460px) {
    .ViewPostButtons {
        flex-direction: column;
    }
}
